@mixin standard-border ($color: $color-fg) {
	border: {
		color: $color;
		width: $default-line-width;
	}
}

@mixin standard-outline ($color) {
	outline: $default-line-width solid $color;
}

@mixin standard-dashed-underline ($color: $color-fg) {
	$width: $default-line-width;
	border: {
		bottom-style: dashed;
		color: $color;
		width: $width;
	}
	padding-bottom: .7em;

	&::after {
		padding-bottom: $width;
	}
}

@mixin a {
	color: $color-a-fg;
	@include transition-out;
	@include standard-outline (transparent);
	background: transparent;
}

@mixin a-hover {
	color: $color-bg;
	background: $color-a-fg;
	outline: $color-a-fg;
	@include standard-outline ($color-a-fg);
	@include transition-in;
}

@mixin nav-item {
	@include nav-a;
}

@mixin nav-item-hover {
	color: $color-nav-bg;
	background: $color-fg;
}

@mixin nav-a {
	color: $color-nav-fg;
	text-decoration: none;
}

@mixin nav-a-hover {
	@include nav-item-hover;
	@include standard-outline ($color-fg);
}

@mixin input {
}

@mixin input-focus {
	// background: $color-fg;
	// color: $color-bg;
	// border-color: $color-c;
	outline: none;
	// @include standard-outline ($color-fg);
	@include standard-border ($color-fg);
}

@mixin button {
	background: none;
	@include transition-out;
}

@mixin button-hover {
	@include button;
	background: $color-d;
	border-color: $color-d;
	color: $color-bg;
	cursor: pointer;
	@include transition-in;
}

@mixin input-shadow ($color) {
	// box-shadow: 0 .1em .3em fade-out($color, .55);
}
