<!doctype html>
<html
th:lang="${lang}"
>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<title th:text="${siteName}"></title>
	<meta name="description" th:attr="content=${description}" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!--/* <link rel="apple-touch-icon" href="apple-touch-icon.png"> */-->

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<link
	href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet"
	/>
	<link
	th:href="${portal.assetUrl({'_path=css/styles.css'})}"
	rel="stylesheet"
	/>
</head>
<body>
	<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<header>
		<div class="wrapper">
			<h1 th:text="${displayName}"></h1>
		</div>
	</header>

	<nav
		data-portal-region="nav"
		th:remove="${mode == 'edit' ? 'none' : (#lists.isEmpty(regions.nav.components) ? 'all' : 'none')}"
		class="wrapper"
	>
		<th:block
		 class="nav"
		th:if="${regions and regions.nav}"
		>
		<th:block th:each="component : ${regions.nav.components}">
		<th:block data-portal-component="${component.path}"></th:block>
				</th:block>
			</th:block>
</nav>

<main
	data-portal-region="main"
	th:remove="${mode == 'edit' ? 'none' : (#lists.isEmpty(regions.main.components) ? 'all' : 'none')}"
	class="wrapper"
>
	<th:block
	th:if="${regions and regions.main}"
	class="container"
	>
	<th:block
	th:each="component : ${regions.main.components}"
	class="content">
	<th:block data-portal-component="${component.path}"></th:block>
		</th:block>
	</th:block>
</main>

<footer
	data-portal-region="footer"
	class="wrapper"
	th:remove="${mode == 'edit' ? 'none' : (#lists.isEmpty(regions.footer.components) ? 'all' : 'none')}"
>
	<th:block
	class="container"
	th:if="${regions and regions.footer}"
	>
	<th:block
	class="content"
	th:each="component : ${regions.footer.components}">
	<th:block data-portal-component="${component.path}"></th:block>
		</th:block>
	</th:block>
</footer>
<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.4.min.js"><\/script>')</script>

</body>
</html>
